{% extends "base.html" %}
{% block content %}
  <h1>Создать прием</h1>
  <p class="muted">Заполните форму приема пациента</p>
  {% if error %}
  <div class="alert">{{ error }}</div>
  {% endif %}
  {% if success %}
  <div class="alert">{{ success }}</div>
  {% endif %}
  <form method="post">
    <div class="grid">
      <div class="field">
        <label>patient_id</label>
        <input type="number" name="patient_id" required>
      </div>
      <div class="field">
        <label>bed_id</label>
        <input type="number" name="bed_id">
      </div>
      <div class="field">
        <label>type</label>
        <input type="text" name="type" required>
      </div>
      <div class="field">
        <label>start_datetime</label>
        <input type="datetime-local" name="start_datetime" required>
      </div>
      <div class="field">
        <label>end_datetime</label>
        <input type="datetime-local" name="end_datetime" required>
      </div>
    </div>
    <div class="actions">
      <button class="btn" type="submit">Создать</button>
    </div>
  </form>
{% endblock %}
