{% extends "base.html" %}
{% block content %}
  <h1>Мои назначения</h1>
  <div class="actions">
    <a class="btn ghost" href="{{ url_for('patient_encounters') }}">Мои приемы</a>
  </div>
  <table>
    <tr>
      <th>ID</th>
      <th>encounter_id</th>
      <th>Тип</th>
      <th>Процедура</th>
      <th>Препарат</th>
      <th>Период</th>
      <th>Частота</th>
      <th>Заметка</th>
    </tr>
    {% for t in treatments %}
    <tr>
      <td>{{ t.id }}</td>
      <td>{{ t.encounter_id }}</td>
      <td>{{ t.type }}</td>
      <td>{{ t.procedure_name if t.procedure_name else '' }}</td>
      <td>{{ t.medication_name if t.medication_name else '' }}</td>
      <td>{{ t.start_date }} - {{ t.end_date }}</td>
      <td>{{ t.frequency }}</td>
      <td>{{ t.note }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
